html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.aboutus-image {
    background-image: url('images/hrdiagram.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid #fc765d;
    box-shadow: -5px 5px 10px #000000;
    height: 100%;
    width: 100%;
    transform: rotate(-8deg);
}

.aboutus-title{
    padding-left: 5rem;
    padding-top: 100px;
}

.aboutus-title > p{
    color: #ffffff;
}

.bg-grey{
    /* background-color: #f7f7f7; */
    background-color: #636b6f;
}

.bg-red{
    background-color: #fc765d;
}

.cover-image {
    background-image: url("images/people_desk.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.cover-title{
    padding-left: 5rem;
    padding-top:200px;
}

.full-height {
    min-height: 800px;
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.half-height {
    height: 25vh;
}


.links > p{
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    margin-bottom: 0 !important;
    text-decoration: none;
    text-transform: uppercase;
}

.menu {
    background-color: #ffffff; 
    box-shadow: 10px 0px 10px #373f40;
    display: inline;
    position: fixed; 
    width: 100%; 
    z-index: 1000;
}

.menu li {
    float: left;
} 

.menu a {
    color: #636b6f;
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    font-weight: 600;
    padding: 0px 10px;
    text-transform: uppercase;
}

.nav-menu {
    float: right;
    line-height: 32px;
    margin-bottom: 0;
    padding-top: 12px;
}

.position-ref {
    position: relative;
}

.title {
    font-size: 84px;
}

.white-block-big{
    background-color: #ffffff;
    margin-bottom: 1rem;
}

.white-block-big-shadow{
    box-shadow: 10px 10px 5px #373f40;
}

.white-block-big-shadow-left{
    box-shadow: -10px 10px 5px #373f40;
}

.white-block-cover{
    background-color: #ffffff;
    padding: 15px 0px 10px 25px;
}

.white-block-small{
    background-color: #ffffff;
    padding: 15px 0px 10px 0px;
}

.white-block-small-shadow{
    box-shadow: 5px 5px 5px #373f40;
    
}

.white-block-small-shadow-left{
    box-shadow: -5px 5px 5px #373f40;
    
}

.white-font{
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}